<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('./templates/header')%>
    <%-include('./templates/navBar')%>
  </head>
  <body>
    <div class="titulo">
      <span><br> Bienvenido A "Barber Estilo Radiante"</span>
    </div>
      <!-- about -->    
    <div id="about" class="about">      
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about_box">              
              <h2>Acerca De Nosotros</h2>
              <p>
                Bienvenido a Estilo Radiante Barber, donde no solo transformamos cabellos, ¡creamos experiencias de estilo inigualables! Más que una barbería, somos un equipo apasionado de barberos profesionales, dedicados a potenciar tu estilo personal y elevar tu confianza con cortes de cabello que son obras de arte.
                <br><br>
                ¡Descubre la Revolución del Estilo!
                <br><br>            
                En Estilo Radiante Barber, no se trata solo de un corte de pelo; es una experiencia que resalta tu autenticidad. Nuestro equipo apasionado no solo sigue tendencias, las crea. Cada visita es una oportunidad para experimentar una atención personalizada y un cuidado meticuloso. Entra a un ambiente donde la pasión por el arte de la barbería se fusiona con un compromiso inquebrantable con tu estilo.
                <br><br> 
                <b>Visión:</b> Ser la referencia en barbería, donde la innovación y la autenticidad se encuentran para crear estilos inolvidables.
                <br><br> 
                <b>Misión:</b> Construir conexiones auténticas con cada cliente, ofreciendo servicios excepcionales que no solo transformen su cabello, sino que también eleven su confianza y estilo personal. En Estilo Radiante Barber, cada visita es un paso hacia la mejor versión de ti mismo. ¡Únete a nosotros y destaca con autenticidad! 
              </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about_img">
              <figure>
                <img src="img/about.jpg" alt="#" />
              </figure>           
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end about -->
    <!-- service -->
    <div id="service" class="service">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="ourheading">
                <h2><strong class="white_ll">Nuestros Servicios</strong></h2>
              </div>
            </div>
          </div>      
          <!-- Cuadros para describir servicios -->
          <div class="row">
            <!-- Servicio 1 -->
            <div class="col-md-4">
              <div class="service_box">
                <figure><img src="img/ser.png" alt="Servicio 1"  class="service-image"/></figure>
                <h2>Peluqueria</h2>
                <p>
                  ¡Bienvenido a la Transformación con Barber Estilo Radiante! Descubre la excelencia en peluquería donde cada corte es una obra de arte. Transformamos tu cabello con estilos modernos que potencian tu belleza y confianza. No solo hacemos cortes, creamos tendencias. 
                </p>
              </div>
            </div>      
            <!-- Servicio 2 -->
            <div class="col-md-4">
              <div class="service_box">
                <figure><img src="img/ser1.png" alt="Servicio 2"  class="service-image"/></figure>
                <h2>Barberia</h2>
                <p>
                  Sumérgete en el mundo del estilo con nosotros, donde cada corte es más que una transformación; es una declaración de autenticidad. Nuestros barberos expertos son artesanos de la precisión, esculpiendo cortes y estilos de vanguardia para ofrecerte un look distintivo y cuidado.
                </p>
              </div>
            </div>      
            <!-- Servicio 3 -->
            <div class="col-md-4">
              <div class="service_box">
                <figure><img src="img/ser3.png" alt="Servicio 3"  class="service-image"/></figure>
                <h2>Pedicure y Manicure</h2>
                <p>
                  Descubre la elegancia del cuidado en tus manos y pies con nuestros expertos en pedicure y manicure, te brindaremos un servicio dedicado para realzar la belleza natural de tus uñas. ¡Vive la experiencia única de Estilo Radiante y dale a tus uñas el tratamiento que se merecen!
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>    
    <%-include('./templates/authors')%> 
    <%-include('./templates/footer')%>  
  </body>
</html>
