<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('./templates/header')%>
  </head>
  <body>
    <%-include('./templates/navBar')%>
    <!-- about -->    
    <div id="about" class="about">
      <div class="titulo">
        <span>Bienvenido A Estilo Radiante</span>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about_box">              
              <h2>Acerca De Nosotros</h2>
              <p>
                En Estilo Radiante Barber, no solo transformamos cabellos y
                hacemos cortes de pelo, creamos experiencias de estilo inigualables.
                Más que una barbería, somos un equipo apasionado de barberos profesionales, 
                dedicados a potenciar tu estilo personal y elevar tu confianza.
                Dentro de nuestra misión buscamos construir conexiones auténticas con cada cliente. 
                Cada visita es una oportunidad para experimentar atención personalizada 
                y cuidado meticuloso.
                Únete a nosotros en este viaje donde la pasión por el 
                arte de la barbería se encuentra con un compromiso inquebrantable.
               </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about_img">
              <figure>
                <img src="img/about.jpg" alt="#" />
              </figure>           
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end about -->
    <!-- service -->
    <div id="service" class="service">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="ourheading">
                <h2>Our<strong class="white_ll"> service</strong></h2>
              </div>
            </div>
          </div>
      
          <!-- Cuadros para describir servicios -->
          <div class="row">
            <!-- Servicio 1 -->
            <div class="col-md-4">
              <div class="service_box">
                <figure><img src="img/ser.png" alt="Servicio 1" /></figure>
                <h3>Peluqueria</h3>
                <p>
                    Descubre la excelencia en peluquería en Estilo Radiante. Transformamos tu cabello con cortes y estilos modernos, realzando tu belleza y confianza. Vive la experiencia de un servicio único en un ambiente acogedor y vanguardista.
                </p>
              </div>
            </div>
      
            <!-- Servicio 2 -->
            <div class="col-md-4">
              <div class="service_box">
                <figure><img src="img/ser1.png" alt="Servicio 2" /></figure>
                <h3>Barberia</h3>
                <p>
                    Sumérgete en la auténtica experiencia de barbería en Estilo Radiante. Nuestros barberos expertos ofrecen cortes precisos y estilos de vanguardia, brindándote un look distintivo y cuidado. Descubre la combinación perfecta de tradición y modernidad en un ambiente masculino y acogedor.
                </p>
              </div>
            </div>
      
            <!-- Servicio 3 -->
            <div class="col-md-4">
              <div class="service_box">
                <figure><img src="img/ser3.png" alt="Servicio 3" /></figure>
                <h3>Pedicure y Manicure</h3>
                <p>
                    Disfruta de la exquisitez del cuidado de manos y pies en Estilo Radiante. Nuestros especialistas en pedicure y manicure te ofrecen un servicio dedicado y personalizado para realzar la belleza natural de tus uñas. Sumérgete en un oasis de relajación y estilo, donde la elegancia se refleja en cada detalle de tus manos y pies.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <%-include('./templates/authors')%> <%-include('./templates/footer')%>
  </body>
</html>
