<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./templates/header')%>
  </head>
  <body>
    <%-include('./templates/navBar')%>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1>Realizar Reservacion</h1>
        </div>
        <p class="fs-5" style="text-align: center; margin-top: 1rem;">
          Ingrese por favor los datos a continuación para realizar su reserva.
        </p>
        <form action="/addBooking" method="POST" class="formInput">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              >Persona que reserva</span
            >
            <select name="clients" id="persons" class="form-control">
              <option value="">Seleccione una opción...</option>
              <option value="ALBINO NIÑO">ALBINO NIÑO</option>
              <option value="ANGELA PATRICIA CARVAJAL MURILLO">
                ANGELA PATRICIA CARVAJAL MURILLO
              </option>
              <option value="BRAYAN RONALDO SANCHEZ GOMEZ">
                BRAYAN RONALDO SANCHEZ GOMEZ
              </option>
              <option value="CARLOS ARMANDO TORRES JAIMES">
                CARLOS ARMANDO TORRES JAIMES
              </option>
              <option value="CARLOS PARADA">CARLOS PARADA</option>
              <option value="CESAR CAMILO ARDILA">CESAR CAMILO ARDILA</option>
              <option value="DEISY YORLADY AVELLANEDA AVELLANEDA">
                DEISY YORLADY AVELLANEDA AVELLANEDA
              </option>
              <option value="DIEGO RICARDO RUBIANO ACEVEDO">
                DIEGO RICARDO RUBIANO ACEVEDO
              </option>
              <option value="EDSON AUGUSTO SIACHOQUE CORREA">
                EDSON AUGUSTO SIACHOQUE CORREA
              </option>
              <option value="FABIAN ANDRES CASTRO">FABIAN ANDRES CASTRO</option>
              <option value="FLAVIO ALEXIS CORREGIDOR CASTRO">
                FLAVIO ALEXIS CORREGIDOR CASTRO
              </option>
              <option value="FRANCISCO JAVIER SANCHEZ VALENZUELA">
                FRANCISCO JAVIER SANCHEZ VALENZUELA
              </option>
              <option value="GERMAN RICARDO CORREDOR ROJAS">
                GERMAN RICARDO CORREDOR ROJAS
              </option>
              <option value="GUSTAVO VARGAS RINCON">
                GUSTAVO VARGAS RINCON
              </option>
              <option value="JAVIER ORLANDO SUÁREZ MEJÍA">
                JAVIER ORLANDO SUÁREZ MEJÍA
              </option>
              <option value="JEFERSON ALBEIRO VEGA GOMEZ">
                JEFERSON ALBEIRO VEGA GOMEZ
              </option>
              <option value="JUAN NEPOMUCENO BARBOSA">
                JUAN NEPOMUCENO BARBOSA
              </option>
              <option value="LEONARDO ANDRES HERNÁNDEZ PÉREZ">
                LEONARDO ANDRES HERNÁNDEZ PÉREZ
              </option>
              <option value="LUDY ANDREA CORONADO ALFONSO">
                LUDY ANDREA CORONADO ALFONSO
              </option>
              <option value="LUIS GERMAN SUAREZ ROMERO">
                LUIS GERMAN SUAREZ ROMERO
              </option>
              <option value="MARCO ALEJANDRO RINCÓN GUARÍN">
                MARCO ALEJANDRO RINCÓN GUARÍN
              </option>
              <option value="PEDRO ANDRES SIACHOQUE CORREDOR">
                PEDRO ANDRES SIACHOQUE CORREDOR
              </option>
              <option value="ROUSMARY GONZÁLEZ">ROUSMARY GONZÁLEZ</option>
              <option value="TALES FIGUEIREDO COTA LELIS">
                TALES FIGUEIREDO COTA LELIS
              </option>
              <option value="WILIAM ISRAEL LEON ROJAS">
                WILIAM ISRAEL LEON ROJAS
              </option>
              <option value="YINA PAOLA VERA GUTIERREZ">
                YINA PAOLA VERA GUTIERREZ
              </option>
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Servicio</span>
            <select name="service" id="car" class="form-control">
              <option value="Depilacion">Depilacion</option>
              <option value="Corte de Pelo">Corte de Pelo</option>
              <option value="Manicure">Manicure</option>
              <option value="Pedicure">Pedicure</option>
            </select>
          </div>
          <label for="dateDelivery" class="form-label">Fecha de entrega</label>
          <input
            type="datetime-local"
            class="form-control"
            name="dateBooking"
            id="dateBooking"
          />
          <div class="input-group" style="margin-top: 1rem;">
            <span class="input-group-text">Observaciones</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              name="observations"
              id="observations"
            ></textarea>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 1.5rem;">
            <a href="newEntry" class="btn btn-warning"
              ><i class="fas fa-eraser"></i> Limpiar</a
            >
            <button type="submit" class="btn btn-success">
              <i class="fas fa-plus"></i> Realizar reserva
            </button>
          </div>
        </form>
      </div>
    </div>
    <%-include('./templates/authors')%>
    <%-include('./templates/footer')%>
  </body>
</html>
