:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

html {
    box-sizing: border-box;
    /*Hack boxModel*/
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    margin-top: 0;
}

.formInput {
    margin: 2rem;
}

.editInput {
    margin: 2rem;
}

.navbar-brand {
    font-family: 'Times New Roman', serif;
}

.service-image {
    margin-top: 0;
    max-width: 100%;
    height: 250px;
}

.authors {
    margin-top: 0;
    background-color: #263847;
    /* Color de fondo oscuro */
    color: #ffffff;
    /* Color del texto claro */
    text-align: center;
    /* Texto centrado */
    padding: 20px;
    /* Relleno en la parte superior e inferior */
}

.authors p {
    margin: 5px 0;
    /* Margen entre párrafos */
    font-size: 1.2rem;
    /* Tamaño de fuente */
}

@media (min-width: 480px) {
    .boton {
        width: auto;
        margin-top: 3rem;
    }
}

/*tipografia*/
h1 {
    font-size: 3.8rem;
    font-family: 'Times New Roman', serif;
}

h2 {
    font-size: 2.0rem;
    font-family: 'Times New Roman', serif;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-style: italic;
}

/*titulos*/
/*1 rem = 10px*/
.titulo span {
    color: #213343;
    display: block;
    /* Para que el texto ocupe todo el ancho */
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    /* Aplicar negrita */
    font-family: 'Times New Roman', serif;
}


/*servicios*/
@media (min-width: 760px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 20rem;
    width: 20rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** service **/
.service {
    background: #213343;
    padding: 60px 0px;
}

.service .ourheading {
    padding-bottom: 50px;
}

.service .ourheading h2 {
    padding-bottom: 25px;
}

.ourheading span {
    color: #000;
    font-size: 20px;
    line-height: 22px;
}

.white_ll {
    color: #fff;
    font-weight: 500;
}

.carousel-caption {
    position: inherit;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 24px;
}

.carousel-indicators .active {
    background: #000;
}

.carousel-indicators li {
    background: #fff;
}

.service_box {
    background: #fff;
    box-sizing: border-box;
    padding: 0px 20px 30px 20px;
    margin-bottom: 50px;
}

.service_box figure {
    margin: 0;
    margin-top: 20px;
}

.service_box figure img {
    margin-top: -30px;
}

.service_box h3 {
    font-size: 30px;
    line-height: 32px;
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: 500;
    color: #050000;
}

.service_box p {
    color: #050000;
    font-size: 15px;
    line-height: 28px;
}

/** end service **/


/** about **/
.about {
    margin-top: 0;
    padding: 90px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.about .about_box {
    margin-top: 0;
    padding: 1px 1px;
}

.about .about_box span {
    font-size: 17px;
    line-height: 28px;
    color: #00aeef;
    font-weight: bold;
    padding-bottom: 10px;
    display: block;
}

.about .about_box h2 {
    color: #213343;
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    padding: 0;
}

.about .about_box p {
    color: #213343;
    font-size: 20px;
    line-height: 29px;
    padding: 30px 0px;
    font-weight: 400;
}

.about .about_box a {
    color: #00aeef;
    font-size: 17px;
    line-height: 29px;
    background: transparent;
    border: #00aeef solid 1px;
    padding: 12px 40px;
    display: inline-block;
}

.about .about_box a:hover {
    color: #fff;
    background: #00aeef;
    border: #00aeef solid 1px;
}

.about .about_img figure {
    margin: 0;
}

.about .about_img figure img {
    width: 100%;
}

/** end about **/