<div class="authors">
    <div class="navbar-brand">
        <p class="fs-5">Desarrollado Para La Asignatura: Electiva II - Desarrollo Web<br>Docente: Mgtr. Jairo Riaño</p>
        <p class="pt-4 fs-5">Realizado por: Robinson Aguilar/ Ronaldo Pérez</p>
        <p class="fs-5">Ingeniería De Sistemas y Computación</p>
        <p class="fs-5">UPTC Seccional Sogamoso - 2023 &copy;</p>
    </div>
</div>
