<div class="authors">
    <p class="pt-4 fs-5">Hecho por: Robinson Eduardo Aguilar Puentes-202010499 / Robinson Eduardo Aguilar Puentes-000000000 </p>
    <p class="fs-5">Hecho para: Electiva II - Desarrollo web. Ing. Jairo Riaño</p>
    <p class="fs-5">UPTC Seccional Sogamoso - 2023 &copy;</p>
</div>
